body {
    font-family: sans-serif;
}

.about-header {
    background: url(../images/about/about_bg.jpg) no-repeat center center /cover;
    height: 100vh;
    color: white;
}

.about-heading {
    padding: 418px 0 0 160px;
    font-size: 85px;
}

.about_block_1 {
    height: 100vh;
}

.about_block_1>.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.breadcrumb {
    /*margin-top: 212px;*/
    margin-bottom: 136px;
    display: flex;
    list-style: none;
}

.breadcrumb .breadcrumb-item {
    font-size: 11px;
}

.breadcrumb .breadcrumb-item span {
    margin: 0 10px;
}

.breadcrumb .breadcrumb-item a {
    color: #acacac;

}

.breadcrumb .breadcrumb-item .active {
    color: #262626;
}

.atlantic-left h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 26px;
}

.atlantic-left p {
    padding: 30px 0;
    font-size: 14px;
    line-height: 23.8px;
}

.atlantic-right img {
    width: 700px;
    float: right;
    margin-bottom: 0;
}

.about_block_2 {
    position: relative;
    padding-top: 228px;
    height: 100vh;
}

.about_block_2 .breadcrumb {
    margin-bottom: 27px;
}

.about_block_2 .logistic-box {
    border-top: 2px solid #096FF8;
}

.about_block_2 .logistic-box h2 {
    font-size: 35px;
    font-weight: 500;
    padding: 21px 0 12px 0;
}

.about_block_2 .logistic-box p {
    font-size: 11px;
    line-height: 18.7px;
}

.about_block_2 .logistic-box a {
    color: #096FF8;
    display: inline-block;
    margin: 7px 0 15px 0;
    font-size: 11px;
}

.about_block_2 .logistic-box a span {
    padding-left: 10px;
}

.about_block_2 .logistic-box a:hover span {

    animation: readMore 1s infinite ease-out;
    display: inline-block;
}

@keyframes readMore {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
        color: rgb(6, 205, 255);
    }

    100% {
        transform: translateX(0px);
    }
}

.about_block_2 .logistic-box img {
    margin-bottom: 106px;
}

footer {
    width: 100%;
    background-color: #F6F6F6;
    position: absolute;
    bottom: 0;
}

footer .container {
    margin: 0 auto;
    position: relative;
}

footer .copyright {
    color: #acacac;
    font-size: 14px;
}

footer .copyright p {
    padding-top: 15px;
}

footer .copyright p:hover {
    color: black;
    transition: 500ms;
}

footer ul {
    padding: 27px 0 31px 0;
}

footer ul li a {
    color: rgba(38, 38, 38, 1);
    font-size: 14px;
    line-height: 23.8px;
}

footer ul li a:hover {
    color: rgba(172, 172, 172, 1);
    transition: 500ms;
}

#goToTop {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: -85px;
    top: 36px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 688px !important;
    }
    .about-header {
        background: url(../images/about/about_bg_md.jpg) no-repeat center center /cover;
        height: 100vh;
    }

    .about-heading {
        padding: 373px 0 0 0px;
        font-size: 60px;
    }
    .about_block_wrap{
        position: relative;
    }
    .about_block_1 {
        height: auto;
    }
    .d-md-block{
        display: block !important;
    }
    .about_block_1>.container {
        height: unset;
        display: block;
        /* align-items: center; */
    }

    .breadcrumb {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 16px;
    }

    .breadcrumb .breadcrumb-item span {
        margin: 0 12px;
    }

    .breadcrumb .breadcrumb-item a {
        color: #acacac;
    }

    .breadcrumb .breadcrumb-item .active {
        color: #262626;
    }
    .atlantic-left{
        width: 100% !important;
    }
    .atlantic-left h2 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 541px;
    }

    .atlantic-left p {
        padding: 0px 0 63px 0;
        font-size: 20px;
        line-height: 34px;
    }

    .atlantic-right img {
        position: absolute;
        top: 124px;
        width: 100%;
        height: 446px;
        float: unset;
        margin-bottom: 0;
    }

    .about_block_2 {
        position: relative;
        padding-top: 0;
        height: auto;
    }

    .about_block_2 .breadcrumb {
        display: none;
    }

    .about_block_2 .logistic-box {
        border-top: 4.74px solid #F47B36;
    }

    .about_block_2 .logistic-box h2 {
        font-size: 32px;
        padding: 40px 0 32px 0;
    }

    .about_block_2 .logistic-box p {
        font-size: 20px;
        line-height: 34px;
    }

    .about_block_2 .logistic-box a {
      display: none;
    }

    .about_block_2 .logistic-box img {
        margin: 40px 0 60px 0;
        width: 100%;
    }

    footer {
        width: 100%;
        margin-top: 98px;
        padding-top: 72px;  
        background-color: #F6F6F6;
        position: unset;
        bottom: 0;
    }

    footer .container {
        margin: 0 auto;
        position: unset;
    }

    footer .copyright {
        color: #acacac;
        font-size: 16px;
    }
    .footer-logo{
        width: 201px;
        height: 60px;
    }

    footer .copyright p {
        position: absolute;
        padding: 0;
        bottom: 44px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }

    footer .copyright p:hover {
        color: black;
        transition: 500ms;
    }

    footer ul {
        padding: 0;
        padding-bottom: 123px;
    }

    footer ul li a {
        color: rgba(38, 38, 38, 1);
        font-size: 20px;
        line-height: 34px;
    }

    footer ul li a:hover {
        color: rgba(172, 172, 172, 1);
        transition: 500ms;
    }

    #goToTop {
        display: none;        
    }
}