body{
    font-family: sans-serif;
}

header{
    background: url(../images/careers/careers_bg.jpg) no-repeat center center /cover;
    height: 100vh;
    color: white;
}
header p{
    padding: 418px 0 0 160px;
    font-size: 85px;
    font-weight: 500;
}
.career-section{
    height: 100vh;
}
.career-section .career-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;    
}
.breadcrumb{
    /* margin-top: 212px; */
    margin-bottom: 54px;
    display: flex;
    list-style: none;
}
.breadcrumb .breadcrumb-item{
    font-size: 11px;
}
.breadcrumb .breadcrumb-item span{
    margin: 0 10px;  
}
.breadcrumb .breadcrumb-item a{
    color: #acacac;
   
}
.breadcrumb .breadcrumb-item .active{
    color: #262626;    
}
/* .form{
    // border: 1px solid red; 
   // margin-bottom: 56px; 
} */
.form .form-left{
    margin-right: 46px;
}
.form .form-left ul li{
    width: 416px;
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: rgba(236, 236, 236, 1);
    font-size: 18px;
    font-weight: 500;
}
.form .form-left ul li.active{
    border: 2px solid rgba(9, 111, 248, 1);
    background-color: white;
}
/* .form .form-left ul li a{
    color: black;
} */
.form .form-right .tab h2{
    font-weight: 500;
    font-size: 40px;
}
.form .form-right .tab p:first-of-type{
    color: rgba(172, 172, 172, 1);
    font-size: 11px;
    padding: 23px 0;
}
.form .form-right .tab p:nth-of-type(2), p:nth-of-type(3){
    color: black;
    font-size: 14px;
    line-height: 23.8px;
    margin-bottom: 50px;
}
.form .form-right .tab .authorisation-form{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.form .form-right .tab .authorisation-form input{
    width: 250px;
    height: 42px;
    padding: 14px 0 14px 24px;
    font-size: 20px; 
    border: 2px solid rgba(240, 240, 240, 1);
    margin: 0 20px 17px 0;
}
.form .form-right .tab .authorisation-form input::placeholder{
    color: rgba(172, 172, 172, 1);
    font-size: 14px;    
}
.form .form-right .tab .authorisation-form button{
    width: 250px;
    color: rgba(255, 255, 255, 1);
    background: rgba(9, 111, 248, 1);
    text-align: center;
    padding: 5px 0;
    height: 42px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
}