body{
    font-family: sans-serif;
}
header{
    background: url(../images/contacts/contacts_bg.jpg) no-repeat center center /cover;
    height: 100vh;
    color: white;
}
.contacts-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .contacts-wrap{
    justify-content: flex-start;    
    text-align: start;
}
header .contacts-wrap h2{
    font-size: 85px;
    font-weight: 500;
    margin-left: 161px;
}
.breadcrumb{
    /* margin-top: 212px; */
    margin-bottom: 50px;
    display: flex;
    list-style: none;
}
.breadcrumb .breadcrumb-item{
    font-size: 11px;
}
.breadcrumb .breadcrumb-item span{
    margin: 0 10px;  
}
.breadcrumb .breadcrumb-item a{
    color: #acacac;
   
}
.breadcrumb .breadcrumb-item .active{
    color: #262626;    
}
.contacts-section .contact-top{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.contacts-section .contact-top .contact-left{
    width: 500px;
}
.contacts-section .contact-top .contact-left h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}
.contacts-section .contact-top .contact-left p{
    font-size: 14px;
    color: rgba(38, 38, 38, 1);
    
}
.contacts-section .contact-top .contact-right{
    width: 852px;
}
.contacts-section .contact-top .contact-right .authorisation-form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.contacts-section .contact-top .contact-right .authorisation-form input{
    width: 250px;
    height: 42px;
    padding: 14px 0 14px 24px;
    font-size: 20px; 
    border: 2px solid rgba(240, 240, 240, 1);
    margin: 0 20px 17px 0;
}
.contacts-section .contact-top .contact-right .authorisation-form input::placeholder{
    color: rgba(172, 172, 172, 1);
    font-size: 14px;    
}
.contacts-section .contact-top .contact-right .authorisation-form button{
    width: 250px;
    color: rgba(255, 255, 255, 1);
    background: rgba(9, 111, 248, 1);
    text-align: center;
    padding: 5px 0;
    height: 42px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
}
.contacts-section .contact-top .contact-right p{
    font-size: 10px;
    color: #acacac;
}
.contacts-section .contact-top .contact-right p a{
    color: red;
}
.contacts-section hr{
    height: 2px;
    color: rgba(240, 240, 240, 1);
    margin: 28px 0;
}
.contacts-section .find-us{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contacts-section .find-us h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 35px;
}
.contacts-section .find-us .location{
    width: 480px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}
.contacts-section .find-us .location p{
    color: rgba(172, 172, 172, 1);
    font-size: 14px;
    line-height: 23.8px;
}
.contacts-section .find-us .location p:first-of-type{
    font-size: 18px;
    font-weight: 700;
    color: rgba(38, 38, 38, 1);
}
.contacts-section .phone{
    width: 480px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contacts-section .phone p:first-of-type{
    font-size: 18px;
    font-weight: 700;
    color: rgba(38, 38, 38, 1);
}
.contacts-section .phone p{
    color: rgba(172, 172, 172, 1);
    font-size: 14px;
    line-height: 23.8px;
}
.opacity-0{
    opacity: 0;
}
.contacts-section .social{
    width: 400px;
    text-align: center;
}
