body{
    font-family: sans-serif;
}

header{
    background: url(../images/services/services_bg.jpg) no-repeat center center /cover;
    height: 100vh;
    color: white;
}
.service-wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
header .hero-section{
    display: flex;
    align-items: center;   
}
header .hero-section .hero-left{
    width: 400px;
    padding: 0 !important;
    font-size: 85px;
    font-weight: 500;
    line-height: 111px;
    margin-right: 70px;
}
header .hero-section .hero-right {
    width: 683px;
    padding: 0 !important;
    font-size: 12px;
    line-height: 19.2px;
    color: rgba(255, 255, 255, 1);
    
}
.breadcrumb{
    margin-bottom: 44px;
    display: flex;
    list-style: none;
}
.breadcrumb .breadcrumb-item{
    font-size: 11px;
}
.breadcrumb .breadcrumb-item span{
    margin: 0 10px;  
}
.breadcrumb .breadcrumb-item a{
    color: #acacac;
   
}
.breadcrumb .breadcrumb-item .active{
    color: #262626;    
}
.service-truck{
    display: flex;
}
.service-truck .truck-left{
    margin-right: 30px;
    width: 486px;
    border-top: 2px solid rgba(9, 111, 248, 1);
    padding-top: 40px;
}
.service-truck .truck-left h2{
    font-size: 40px;
    font-weight: 500;
    color: rgba(38, 38, 38, 1);
    margin-bottom: 100px;
}
.service-truck .truck-left p{
    font-size: 14px;
    line-height: 23.8px;
}

/* r-van */

.r-van {
    display: flex;
    color: #262626;
    line-height: 170%;
}

.r-van_img img {
    width: 100%;
}

.r-van_right {
    width: 487px;
    margin-left: 30px;
    padding-top: 40px;
    border-top: 2px solid #096FF8;
}

.r-van_content h3 {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
}

.r-van_content p {
    padding: 10px 0;
    font-size: 14px;
}


/* warehouse */

.flip{
    order: 1;
    margin-right: -30px !important;
    margin-left: 30px;
}
.warehouse{
    display: flex;
    color: #262626;
}
.warehouse-left{
    display: block;
    margin-right: 10px;
    border-top: 2px solid rgba(9, 111, 248, 1);
    padding-top: 32px;
}
.warehouse-left h2{
    width: 487px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 500;
    color: rgba(38, 38, 38, 1);
}
.warehouse-left p{
    margin-bottom: 30px;
    color: rgba(38, 38, 38, 1);
    font-size: 14px;
}

.warehouse-left li {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    font-size: 11px;
}

.warehouse-left li::before {
    content: "";
    width: 5px;
    height: 5px;
    margin-right: 20px;
    display: inline-block;
    background: #F47B36;

}

.warehouse-left ul{

}
.warehouse-right{
    
}
.warehouse-right .warehouse-images{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.warehouse-right img{
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
}
